.header {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
.navButtons {
  display: flex;
  padding: 15px;
  list-style: none;
}
.navButtons li {
  margin-left: 50px;
}
.headerLogo {
  width: 200px;
}
.navButtons li a {
  text-decoration: none;
  color: #000;
}
